* {
  box-sizing: border-box;
}

.card-col-4 {
  width: 24%;
  flex-wrap: wrap;
  margin: 1px;
}

.card-current {
  margin: 25px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.card-current .card:hover, .body-side .card:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.top-side-teacher {
  background-color:#ECF0F1;
  width: 100%;
  padding: 6px;
}
.body-side {
  display: block;
  background-color: #F2F3F4;
  padding: 6px;
  width: 100%;
  margin: 20px 0;
}
.body-side-title {
  display: block;
}
.body-side-card {
  display: flex;
  flex-wrap: wrap;
}

.img-card {
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  overflow-y: hidden;
}
h6.card-title {
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  flex-wrap: wrap;
}
