<h1>Our Team</h1>
<div class="memberCardBox">
    <div class="memberCard">
        <div class="coverImage">
            <img src="../../assets/AboutUsCoverImage.jpg" alt="cover iImage">
        </div>
        <div class="profile">
            <div class="avatarWrapper">
                <div class="avatar">
                    <img src="../../assets/datngoAvatar.jpg" alt="avatar">
                </div>
            </div>
            <div class="description">
                <h4 class="name">Ngô Minh Đạt</h4>
                <span>19110115</span><br>
                <span>ngominhdat110115@gmail.com</span><br>
                <a href="https://github.com/Datngo2001">My Github profile</a><br>
            </div>
        </div>
    </div>
    <div class="memberCard">
        <div class="coverImage">
            <img src="../../assets/AboutUsCoverImage.jpg" alt="cover iImage">
        </div>
        <div class="profile">
            <div class="avatarWrapper">
                <div class="avatar">
                    <img src="../../assets/NgocthienAvatar.jpg" alt="avatar">
                </div>
            </div>
            <div class="description">
                <h4 class="name">Nguyễn Ngọc Thiện</h4>
                <span>19110148</span><br>
                <span>nnt.itute@gmail.com</span><br>
                <a href="https://github.com/ngocthien2306">My Github profile</a><br>
            </div>
        </div>
    </div>
</div>