<div class="d-flex flex-wrap pt-3 pb-3">
  <div class="row">
    <ng-container *ngFor="let card of cards">
      <div class="col-4">
        <div class="card bg-light mb-3 shadow-sm ">
          <img src="assets/course.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h6 class="card-title"><a routerLink="/course/{{card.name}}/{{card.gId}}"
                class="text-reset stretched-link">{{card.name}}</a></h6>
            <p class="card-text">{{card.group_name}}</p>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>