<!-- Register -->
<!-- <div class="container mt-5">
    <div *ngIf="!registerMode && !(currentUser$ | async)" style="text-align: center;">
        <h1>LMS</h1>
        <p class="lead">Make online learning easier!</p>
        <div class="text-center">
            <button (click)="registerToggle()" class="btn btn-primary btn-lg mr-2">Register</button>
            <button class="btn btn-info btn-lg">Learn more</button>
        </div>
    </div>
    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
            </div>
        </div>
    </div>
</div> -->
<!-- Student dashboard -->
<div class="container d-flex justify-content-between flex-wrap align-items-baseline">
    <!-- *ngIf="(currentUser$ | async)" -->
    <tabset class="row flex-grow-1 courseAndDeadline" [justified]="true">
        <tab>
            <ng-template tabHeading>
                <h4 class="">Courses</h4>
            </ng-template>
            <courses-tab></courses-tab>
        </tab>
        <tab>
            <ng-template tabHeading>
                <h4 class="">Deadlines</h4>
            </ng-template>
            <deadlines-tab></deadlines-tab>
        </tab>
    </tabset>
    <div class="row notice">
        <notice-tab></notice-tab>
    </div>
</div>