.card{
    min-width: 400px;
    height: auto;
}
.card img{
    min-width: 200px;
    min-height: 200px;
}

/*########## mobile responsive ########*/
@media(max-width: 600px){
    div.d-flex{
        justify-content: center !important;
    }
}