<!-- Register -->
<div class="container mt-5">
    <div *ngIf="!registerMode && !(currentUser$ | async)" style="text-align: center;">
        <h1>LMS</h1>
        <p class="lead">Make online learning easier!</p>
        <div class="text-center">
            <button (click)="openRegisterModal()" class="btn btn-primary btn-lg mr-2">Register</button>
            <button class="btn btn-info btn-lg">Learn more</button>
        </div>
    </div>
    <div *ngIf="(currentUser$ | async)" class="d-flex flex-wrap pt-3 pb-3">
        <ng-container *ngFor="let card of enrolleCards">
            <div class="card bg-light m-3 shadow-sm d-flex flex-row">
                <div class="flex-1">
                    <img src="{{card.imageUrl}}" class="img-fluid img-thumbnail rounded m-1" alt="...">
                </div>
                <div class="card-body flex-2">
                    <h4 class="card-title"><a routerLink="" class="text-reset">{{card.name}}</a></h4>
                    <p class="card-text">{{card.teacherName}}</p>
                    <p class="card-text">{{card.description}}</p>
                    <button type="button" class="btn btn-outline-success"
                        (click)="enrollClick(card.id)">Enrolle</button>
                </div>
            </div>
        </ng-container>
    </div>
</div>