
.courseAndDeadline{
    margin-right: 10px;
    width: 65%;
    height: auto;
}
.notice{
    width: 30%;
    height: auto;
}

tabset{
    margin: 10px;
}


/*########## mobile responsive ########*/
@media(max-width: 600px){
    .courseAndDeadline, .notice{
        width: 100%;
    }
    .container{
        justify-content: center !important;
    }
    .courseAndDeadline{
        order: 2;
        margin-right: 0;
    }
    .notice{
        order: 1;
    }
}