<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">LMS</a>
        <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
            <ul class="navbar-nav me-auto">
                <ng-container *ngIf="currentUser$ | async">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/members" routerLinkActive="active">My Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/lists" routerLinkActive="active">My Deadline</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/messages" routerLinkActive="active">My Score</a>
                    </li>
                </ng-container>
            </ul>
            <div class="dropdown" *ngIf="(currentUser$ | async) as user" dropdown>
                <a class="dropdown-toggle" dropdownToggle>Welcom {{user.username | titlecase}}</a>
                <div class="dropdown-menu" *dropdownMenu>
                    <a class="dropdown-item">Edit Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="logout()">Logout</a>
                </div>
            </div>

            <form *ngIf="!(currentUser$ | async)" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()"
                autocomplete="off">
                <input name="Username" [(ngModel)]="model.username" class="form-control me-2 mr-2" type="text"
                    placeholder="Username">
                <input name="Password" [(ngModel)]="model.password" class="form-control me-2 mr-2" type="password"
                    placeholder="Password">
                <button class="btn btn-success" type="submit">Login</button>
            </form>
        </div>
    </div>
</nav>