<div class="grid">
  <div class="grid_row">
    <div class="header-course mt-5">
      <img src="http://localhost:4200/assets/courseTitle.png" alt="" class="detail-img">
      <h3 class="title-course">Architecture Computer and Assembly Language_ Nhom 02CLC</h3>
      <h5 class="title-course-1">Learn Assembly like a Professional Start from the basics and go all the way to creating your own applications and games </h5>
    </div>
    <div class="lesson-header">
      <ul class="create-lesson">
        <li class="create-item"> <i class="fas fa-plus-square"></i> Document</li>
        <li class="create-item"> <i class="fas fa-video"></i> Video</li>
        <li class="create-item"> <i class="fas fa-clipboard-check"></i> Attendance</li>
        <li class="create-item"> <i class="fas fa-book"></i> Quizz</li>
        <li class="create-item"> <i class="fas fa-comments"></i> Opinion</li>
        <li class="create-item"> <i class="fas fa-cogs"></i> Homework</li>
      </ul>
    </div>
    <div class="info-course">

    </div>
    <div class="lesson-content">
      <h4 class="main-title">Lesson 1 - Assembly Language</h4>
      <img src="" alt="">
      <div class="lesson-1">
        <h5 class="lesson-header-title"></h5>
      </div>
    </div>
  </div>
</div>
