.header-course {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
h3.title-course {
  margin: 10px 15px;
}
h5.title-course-1 {
  margin: 10px 15px;
}
.detail-img {
  background-size: contain;
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.lesson-header {
  border-bottom: 1px solid rgba(231, 224, 224, 0.8);
  width: 100%;
}
.create-lesson {
  list-style: none;
  display: flex;
  margin: 15px 0;
}
.create-item {
  margin: 0 12px;
  padding: 5px;
  border: 1px solid rgb(231, 224, 224);
  border-radius: 4px;
}
.lesson-content {
  width: 100%;
  display: block;
  border-bottom: 1px solid rgba(231, 224, 224, 0.8);
}
.lesson-1 {
  display: 100%;
  justify-content: center;
}
