<a [href]="content.link" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between align-items-baseline">
        <h5 class="mb-1 text-success">{{content.type | titlecase}}</h5>
        <span class="fas fa-file-alt float-left mr-1 text-success"></span>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
        blandit.</p>
    <small class="text-muted">Donec id elit non mi porta.</small>
</a>