<div class="title mt-1 mb-2 d-flex flex-wrap align-items-center">
    <div class="thump-image">
        <img class="rounded p-2" src="{{course.imageUrl}}" alt="" srcset="">
    </div>
    <div class="info">
        <h2 class="name bg-success rounded">{{course.name}}</h2>
        <div class="detail">
            <span class="badge bg-info mr-1">Teacher: {{course.teacherName}}</span>
        </div>
        <button type="button" class="btn btn-success m-1" *appHasRole='["Teacher"]' (click)="openUpdateModal()">Update
            course</button>
        <button type="button" class="btn btn-info m-1" *appHasRole='["Teacher"]' (click)="openImageModal()">Update
            course image</button>
    </div>
</div>
<tabset class="row flex-grow-1 courseAndDeadline mx-1" [justified]="true">
    <tab>
        <ng-template tabHeading>
            <h5 class="">Content</h5>
        </ng-template>
        <accordion class="courseContent" [isAnimated]="true">
            <ng-container *ngFor="let lesson of course.lessons">
                <app-lesson [lesson]="lesson"></app-lesson>
            </ng-container>
        </accordion>
    </tab>
    <tab>
        <ng-template tabHeading>
            <h5 class="">Overview</h5>
        </ng-template>
        <div class="overview">
            <app-overview [course]="course"></app-overview>
        </div>
    </tab>
</tabset>